In [ ]:
# Fileのダウンロード
import os
if os.path.exists("/content/popular-names.txt")==True:
    ! rm "/content/popular-names.txt"
!wget --quiet https://nlp100.github.io/data/popular-names.txt

# Pandasのインストール
! pip --quiet install pandas
import pandas as pd

In [ ]:
# -------------
# 10. 行数のカウント
# -------------
def main():
    data = pd.read_csv("/content/popular-names.txt", header=None, sep='\t')
    print(len(data.index))
main()

# wcコマンドで確認  オプションについて　-l：開業の数を表示、-c：バイト数を表示、-m：文字数を表示、-w：単語数を表示、-L：最も長い行の長さを表示
! wc -l "/content/popular-names.txt"

2780
2780 /content/popular-names.txt

In [ ]:
# -------------
# 11. タブをスペースに置換
# -------------
def main():
   data = pd.read_csv("/content/popular-names.txt", header=None, sep='\t')
   data.to_csv("/content/result.txt", index=False, header=None, sep=' ')
main()

! head -n 5 /content/result.txt
print("\n")

# sedコマンドによる確認　
! sed 's/\t/ /g' /content/popular-names.txt | head -n 5

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880


Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880

In [ ]:
# -------------
# 12. 1列目をcol1.txtに、2列目をcol2.txtに保存
# -------------
def main():
    data = pd.read_csv("/content/popular-names.txt", header=None, sep='\t')
    col1 = data[0]
    col2 = data[1]
    col1.to_csv("col1.txt", index=False, header=None)
    col2.to_csv("col2.txt", index=False, header=None)
main()

# cutコマンドによる確認  1列目と2列目の表示
! head -n 5 /content/col1.txt
! cut -d $'\t' -f 1 /content/col1.txt | head -n 5
print("\n")
! cut -d $'\t' -f 2 /content/col2.txt | head -n 5
! head -n 5 /content/col2.txt

Mary
Anna
Emma
Elizabeth
Minnie
Mary
Anna
Emma
Elizabeth
Minnie


F
F
F
F
F
F
F
F
F
F

In [ ]:
# -------------
# 13. col1.txtとcol2.txtをマージ
# -------------
def main():
    col1 = pd.read_csv("/content/col1.txt", header=None)
    col2 = pd.read_csv("/content/col2.txt", header=None)
    merge = pd.concat([col1, col2], axis=1)
    merge.to_csv("merge.txt", header=None, sep="\t", index=None)
main()

# 確認
! head -n 5 merge.txt
print("\n")
!paste ./col1.txt ./col2.txt | head -n 5

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F


Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

In [ ]:
# -------------
# 14. 先頭からN行を出力
# -------------
def main(x):
    data = pd.read_csv("/content/popular-names.txt", header=None, sep="\t") 
    print(data.head(x))
main(5)

# headで確認
print("\n")
! head -n 5 /content/popular-names.txt

           0  1     2     3
0       Mary  F  7065  1880
1       Anna  F  2604  1880
2       Emma  F  2003  1880
3  Elizabeth  F  1939  1880
4     Minnie  F  1746  1880


Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [ ]:
# -------------
# 15. 末尾のN行を出力
# -------------
def main(x):
    data = pd.read_csv("/content/popular-names.txt", header=None, sep="\t")
    print(data.tail(x))
main(5)

# tailで確認
print("\n")
! tail -n 5 /content/popular-names.txt

             0  1      2     3
2775  Benjamin  M  13381  2018
2776    Elijah  M  12886  2018
2777     Lucas  M  12585  2018
2778     Mason  M  12435  2018
2779     Logan  M  12352  2018


Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [ ]:
# -------------
# 16. ファイルをN分割する
# -------------
def main(x):
    data = pd.read_csv("/content/popular-names.txt", header=None, sep="\t")
    for i in range(x):
        count = -(-len(data) // x )   # 切り上げ
        data.loc[count*i :count*(i+1) - 1].to_csv(f'sp_v1_{i}', sep='\t', index=False, header=None)
main(3)


# 確認
data = pd.read_csv("/content/popular-names.txt", header=None, sep="\t")
count = -(-len(data) // 3 )
!split -l $count -d popular-names.txt sp_v2_

In [ ]:
# -------------
# 17. 1列目の文字列の異なり
# -------------
def main():
    data = pd.read_csv("/content/popular-names.txt", header=None, sep="\t")
    result = data[0]
    count = len(result.unique())
    print(count)
main()

# 確認 
! cut -f 1 /content/popular-names.txt | sort | uniq | wc -l

136
136

In [ ]:
# -------------
# 18. 各行を3コラム目の数値の降順にソート
# -------------
def main():
    data = pd.read_csv("/content/popular-names.txt", header=None, sep="\t")
    data = data.sort_values(2, ascending=False)
    data.to_csv("result.txt", header=None, index=False, sep="\t")
main()

# 確認
! head -n 5 result.txt
print("\n")
! cat popular-names.txt | sort -rnk 3 | head -n 5

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947


Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947

In [ ]:
# -------------
# 19. 各行の1コラム目の文字列の出現頻度を求め、出現頻度の高い順に並べる
# -------------
def main():
    data = pd.read_csv("/content/popular-names.txt", header=None, sep="\t")
    data = data[0].value_counts()
    print(data)
main()
! cut -f 1 /content/popular-names.txt | sort | uniq -c | sort -rn | head -n 5

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Tracy        1
Lucas        1
Walter       1
Kelly        1
Pamela       1
Name: 0, Length: 136, dtype: int64
    118 James
    111 William
    108 Robert
    108 John
     92 Mary